<div class="formly-error-summary">
  <div ng-repeat="(key, value) in vm.form.$serverErrors" class="color-error">
    <i class="glyphicon glyphicon-remove"></i>
    {{ value.label }}: <span>{{ value.value }}</span>
  </div>
</div>
