<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>example-form</title>
  <meta charset="utf-8" />
  <script src="bundle.js"></script>
</head>
<body>
  {{ 'working' }}
  <div ui-view></div>
</body>
</html>
