<p>
	Дата изменения: {{ post._updated_at.format('DD.MM.YYYY') }}
</p>

<formly-form model="post" fields="formData.fields">
	<button type="submit" class="btn btn-default" ng-spinner-click="submit($event, 1)">Submit</button>
</formly-form>

<formly-error-summary form="formData"></formly-error-summary>

<hr />

<pre>
	{{formData | json}}
</pre>
